:root {
  /* colors */
  --primary-color: #000;
  --secondary-color: #fff;
  --input-primary-color: #999999;
  --input-secondary-color: rgba(234, 234, 234, 1);
  --link-primary-color: rgba(51, 105, 243, 1);
  --button-primary-color: #3369F3;
  --background-avatar-color: rgba(239, 239, 239, 1);
  --background-avatar-color-hover: rgba(0, 0, 0, 1);
}
