input {
  all: unset;
}

.wrapper-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(234, 234, 234, 1);

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.label {
  margin-bottom: 8px;
}

.input {
  color: #999999;
  text-align: right;
  padding-bottom: 7px;
}
